


body		{font-family: Algerian; }
p			{color:#003366; font-size:16px; } 
h1,h2		{color:#339966; }
h1			{
			font-size: 24px;
			background-color: #ccffcd;
			border-bottom:1px solid #339966;
			text-align: center;
			}
h2			{font-size: 20px; }